body{
  margin: 0;
  padding: 0;
}
  
footer {
  background-color: rgba(52, 52, 255, 0.815);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

/* Estilado index */

header {
  background-image: url("../img/fondo-arg.jpg");
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  
  display: flex;
  justify-content: center; 
}
.card{
  background-color: whitesmoke;

  width: 350px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  font-size: medium;

  border: 5px black double;
}

.btnProductos{
  background-color: green;
  font-size: medium;
  font-weight: 900;
}

.hVel{
  font-weight: 900;
  font-style: oblique;
}

.vel-uno {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 2fr;
 }

 /* Tabla */

 .tablep {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  border: 5px double;
  border-radius: 10px;
  background-color: #eeeeee;
  font-weight: 600;
  font-style: oblique; }
  
  /* MediaQueries */
  
@media screen and (min-width: 768px) {
  .vel-uno {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 2fr;
    padding: 75px 40px 75px 85px; }
  }

  @media screen and (min-width: 1024px) {
  .vel-uno {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 2fr;
    grid-gap: 50px;
    text-align: center;
    font-size: large; } 
  }